#titre{
    text-align: center;
}
#ajouter{
    float:right;
}
.deconnexion { 
    float: right;
  }
  #segment{
    font-size: small;
}
.small-caps {     
    font-size: 13px; 
    font-weight:bold;
    //text-decoration-color: red;
}
