<ion-header>
  <ion-toolbar color='primary'>
    <ion-title id='titre'>Liste des produits
    <ion-button class="deconnexion" name=boutton (click)="deconnexion()" expand="block" color="primary">
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-item>
      <ion-searchbar animated placeholder="Recherche" (ionChange)="rechercheProduit($event)"></ion-searchbar>
    </ion-item>

    <ion-item>
    <ion-segment value="tout">
      <ion-segment-button class="small-caps" value="tout" (click)="typeProduit('')">Tout
        <!-- <ion-title id='segment'></ion-title> -->
      </ion-segment-button>
      <ion-segment-button class="small-caps" (click)="typeProduit('Alimentaires');typeProduitStatus=true" value="Alimentaires">Alimentaires
        <!-- <ion-label class="small-caps"></ion-label> -->
      </ion-segment-button>
      <ion-segment-button class="small-caps" (click)="typeProduit('NonAlimentaires');typeProduitStatus=true" value="NonAlimentaire">Autre
        <!-- <ion-label class="small-caps"></ion-label> -->
      </ion-segment-button>
    </ion-segment>
  </ion-item>
    <ion-item-option *ngIf="categorieProduitStatus" >
      <ion-label >Catégorie</ion-label>
    <ion-select value="toutes" interface="popover" (ionChange)="triCategorie($event)">
      <ion-select-option value="toutes">Toutes</ion-select-option>
      <ion-select-option *ngFor="let categorieProduit of categoriesProduits" [value]="categorieProduit">{{categorieProduit}}</ion-select-option>
    </ion-select>
    </ion-item-option>
    <ion-item-option *ngIf="fournisseur" >
      <ion-label >Fournisseur</ion-label>
    <ion-select value="tous" interface="popover" (ionChange)="triFournisseur($event)">
      <ion-select-option value="tous">Tous</ion-select-option>
      <ion-select-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.nom">{{fournisseur.nom}}</ion-select-option>
    </ion-select>
    </ion-item-option>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item>
      <ion-item class="nom">Nom</ion-item>
      <ion-item class="nom">Quantitées en stock</ion-item>
      <ion-item class="nom">Quantitées à recevoir</ion-item>
    </ion-item>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab id='ajouter' routerLink="/ajouter-produit" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item routerLink="/afficher-produit" *ngFor="let produit of produits" (click)="versVueProduit(produit)">
      <ion-thumbnail slot="start">
        <!--<img [src]="produit.imageURL" alt="" />-->
        <img [src]="produit.imageURL"
          onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/e/e6/Pas_d%27image_disponible.svg';">
        <!-- (ionError)="imageDefaut($event)" -->
      </ion-thumbnail>
    <ion-item-sliding>
      <ion-item>
      <ion-item class="nom" slot="start">{{produit.nom}}</ion-item>
      <ion-item class="nom">{{produit.quantite}}</ion-item>
      <ion-item class="nom">{{produit.quantiteCommandee}}</ion-item>
      </ion-item>
    </ion-item-sliding>

    </ion-item>
  </ion-list>
</ion-content>