<ion-header>
  <ion-toolbar color='primary'>
    <ion-title id='titre'>Liste des produits
    <ion-button class="deconnexion" name=boutton (click)="deconnexion()" expand="block" color="primary">
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-item slot='start'>
      <ion-searchbar animated placeholder="Recherche" [value]='test' (ionChange)="rechercheProduit($event)"></ion-searchbar>
    </ion-item>

    <ion-item slot="end">

    <ion-segment value="tout" >
      <ion-segment-button value="tout" (click)="typeProduit('')">
        <ion-label>Tout</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="typeProduit('Alimentaires');typeProduitStatus=true" value="Alimentaires">
        <ion-label>Alimentaires</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="typeProduit('NonAlimentaires');typeProduitStatus=true" value="NonAlimentaire">
        <ion-label>Non alimentaires</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>
    <ion-item-option *ngIf="categorieProduitStatus" slot="end">
      <ion-label >Catégorie</ion-label>
    <ion-select value="toutes" interface="popover" (ionChange)="triCategorie($event)">
      <ion-select-option value="toutes">Toutes</ion-select-option>
      <ion-select-option *ngFor="let categorieProduit of categoriesProduits" [value]="categorieProduit">{{categorieProduit}}</ion-select-option>
    </ion-select>
    </ion-item-option>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab id='ajouter' routerLink="/ajouter-produit" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item routerLink="/afficher-produit" *ngFor="let produit of produits" (click)="versVueProduit(produit)">
      <ion-thumbnail slot="start">
        <!--<img [src]="produit.imageURL" alt="" />-->
        <img [src]="produit.imageURL"
          onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/e/e6/Pas_d%27image_disponible.svg';">
        <!-- (ionError)="imageDefaut($event)" -->
      </ion-thumbnail>
      <ion-label>{{produit.nom}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>