#titre{
    text-align: center;
}
#ajouter{
    float:right;
}
.deconnexion { 
    float: right;
  }
  #segment{
    font-size: small;
}
.small-caps {     
    font-size: 13px; 
    font-weight:bold;
    //text-decoration-color: red;
}
.nom {
    // margin-top: 15px;
     // margin-bottom: 15px;
     width: 30%;
     // margin-left: auto;
     // margin-right: auto;
   }