<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons id='retourclients' slot="start">
      <ion-back-button defaultHref="/tabs/commandes" text=""></ion-back-button>
    </ion-buttons>
    <ion-title id='titre'>Nouvelle commande</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  


  <ion-item>
    <ion-label position="floating">Numéro de la facture</ion-label>
    <ion-input [(ngModel)]="commande.numeroFacture" type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item (click)="choixClientModal()">
    <ion-label position="floating">Nom du client</ion-label>
    <ion-input [(ngModel)]='client.nom' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prénom du client</ion-label>
    <ion-input [(ngModel)]='client.prenom' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pays</ion-label>
    <ion-input [(ngModel)]='client.pays' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Province</ion-label>
    <ion-input [(ngModel)]='client.province' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Code postal</ion-label>
    <ion-input [(ngModel)]='client.codePostal' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Localité</ion-label>
    <ion-input [(ngModel)]='client.localite' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Rue</ion-label>
    <ion-input [(ngModel)]='client.rue' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéro</ion-label>
    <ion-input [(ngModel)]='client.numero' type="number" inputmode="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Boite</ion-label>
    <ion-input [(ngModel)]='client.boite' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéro de TVA</ion-label>
      <ion-input [(ngModel)]='client.numeroTVA' type="text" inputmode="text"></ion-input>
    </ion-item>
  <ion-item>
  <ion-label position="floating">Numéro de téléphone</ion-label>
    <ion-input [(ngModel)]='client.numeroTelephone' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Numéro de GSM</ion-label>
    <ion-input [(ngModel)]='client.numeroGSM' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Numéro de fax</ion-label>
    <ion-input [(ngModel)]='client.numeroFax' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]='client.email' type="email" inputmode="email"></ion-input>
  </ion-item>
  <ion-item (click)="choixProduitModal()">
    <ion-label >Nom du produit</ion-label>
    <!-- <ion-input [(ngModel)]='produit.nom' type="text" inputmode="text"></ion-input> -->
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let produit of produits">
      <ion-label>{{commandeProduit.nom}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea [(ngModel)]='commande.notes' type="text" inputmode="text"></ion-textarea>
  </ion-item>
  <ion-button (click)="ajoutCommande(commande)" expand="block" color="primary">
    <ion-icon name="checkmark"></ion-icon>Ajouter
  </ion-button>
</ion-content>
