.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
#titre{
  text-align: center;
}
#ajouter{
  float:right;
}
.deconnexion { 
  float: right;
}
.nom{
 // margin-top: 15px;
  // margin-bottom: 15px;
  width: 30%;
  // margin-left: auto;
  // margin-right: auto;
}
.archive{
  float: right;
}
