<ion-header>
  <ion-toolbar color="primary">
    <ion-title id='titre'>Liste des Commandes
      <ion-button class="deconnexion" name=boutton (click)="deconnexion()" expand="block" color="primary">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated placeholder="Recherche" (ionChange)="rechercheCommande($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab id='ajouter' routerLink="/ajouter-commande" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>

    <ion-item  *ngFor="let commande of commandes" >
    <ion-item-sliding>

      <ion-item routerLink="/afficher-commande" (click)="versVueCommande(commande)">
      <ion-item>{{commande.numeroCommande}}</ion-item>
      <ion-item class="nom" slot="start">{{commande.nomClient}}</ion-item>
      <ion-item>{{commande.dateCommande | date: 'dd MMMM yyyy'}}</ion-item>
    </ion-item>
  </ion-item-sliding>
    
      <ion-fab-button slot="end" (click)="choixCommandesModal(commande.keyClient,commande.pseudoClient)" >
        <ion-icon name="clipboard" ></ion-icon>
      </ion-fab-button>
    
    </ion-item>
  </ion-list>
</ion-content>