<ion-header>
  <ion-toolbar>
    <ion-title id="titre">Liste de contacts</ion-title>
  </ion-toolbar>
<ion-item>
  <ion-fab-button slot="end" (click)="vide=true; contactModal(keyEntreprise,vide,contact)">
    <ion-icon name="person-add"></ion-icon>
  </ion-fab-button>
</ion-item>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of contacts" (click)="vide=false; contactModal(keyEntreprise,vide,contact)">
      <ion-label>{{contact.nom}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
