<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-button name=boutton (click)="logout()" expand="block" color="primary">Déconnexion</ion-button>
  </ion-toolbar>
</ion-header> -->


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="commandes">
      <ion-icon name="file-tray-full"></ion-icon>
      <ion-label>Commandes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produits">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Produits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clients">
      <ion-icon name="business"></ion-icon>
      <ion-label>Clients</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
