#titre{
    text-align: center;
}
#formulaire{
    color: black
}
.livre{
    text-align: center;
    color: white;
    background-color: green;
}
.parcielLivre{
    text-align: center;
    color: white;
    background-color: orange;
}