<ion-header>
  <ion-toolbar>
    <ion-title id="titre">Liste de produits</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <!-- <ion-icon slot="icon-only" name="close"></ion-icon> -->
        <ion-icon src="./assets/svg/close.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated placeholder="Recherche" clearIcon="./assets/svg/close.svg" search-icon="./assets/svg/search.svg" (ionChange)="rechercheProduit($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let produit of produits" (click)="versVueProduit(produit)">
      <ion-label>{{produit.nom}}</ion-label>
      <ion-label>{{produit.quantite}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>