<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons id='retourclients' slot="start">
      <ion-back-button defaultHref="/tabs/clients" text=""></ion-back-button>
    </ion-buttons>
    <ion-title id='titre'>Ajouter un client</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex">
    <div class="img-box">
      <img [src]="image"
        onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png';">
    </div>
  </div>
  <ion-button (click)="ajouterPhoto('galerie')" color="tertiary" expand="block">
    <ion-icon name="image" slot="start"></ion-icon>
    Charger l'image
  </ion-button>
  <ion-button (click)="ajouterPhoto('camera')" color="secondary" expand="block">
    <ion-icon name="camera" slot="start"></ion-icon>
    Prenez une photo
  </ion-button>
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input [(ngModel)]="client.nom" type="text" inputmode="text" (change)="ChoixPseudo()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pseudo</ion-label>
    <ion-input [(ngModel)]='client.pseudo' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pays</ion-label>
    <ion-input [(ngModel)]='client.pays' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Province</ion-label>
    <ion-input [(ngModel)]='client.province' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Code postal</ion-label>
    <ion-input [(ngModel)]='client.codePostal' type="number" inputmode="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Localité</ion-label>
    <ion-input [(ngModel)]='client.localite' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Rue</ion-label>
    <ion-input [(ngModel)]='client.rue' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéro</ion-label>
    <ion-input [(ngModel)]='client.numero' type="number" inputmode="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Boite</ion-label>
    <ion-input [(ngModel)]='client.boite' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéro de TVA</ion-label>
    <ion-input [(ngModel)]='client.numeroTVA' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéo de téléphone</ion-label>
    <ion-input [(ngModel)]='client.numeroTelephone' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéo de GSM</ion-label>
    <ion-input [(ngModel)]='client.numeroGSM' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéo de fax</ion-label>
    <ion-input [(ngModel)]='client.numeroFax' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Adresse email</ion-label>
    <ion-input [(ngModel)]='client.email' type="email" inputmode="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Page web</ion-label>
    <ion-input [(ngModel)]='client.siteWeb'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Page LinkedIn</ion-label>
    <ion-input [(ngModel)]='client.linkedIn'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea [(ngModel)]='client.notes' type="text" inputmode="text"></ion-textarea>
  </ion-item>
  <ion-button (click)="ajoutClient(client)" expand="block" color="primary">
    <ion-icon name="checkmark"></ion-icon>Ajouter
  </ion-button>
</ion-content>