<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons id='retourclients' slot="start">
      <ion-back-button defaultHref="/tabs/clients" text=""></ion-back-button>
    </ion-buttons>
    <ion-title id='titre'>Ajouter un {{entreprise}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex">
    <div class="img-box">
      <img [src]="image"
        onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Factory.svg/1174px-Factory.svg.png';">
    </div>
  </div>
  <ion-button (click)="ajouterPhoto('galerie')" color="tertiary" expand="block">
    <!-- <ion-icon name="image" slot="start"></ion-icon> -->
    <ion-icon src="./assets/svg/image.svg"></ion-icon>
    Charger l'image
  </ion-button>
  <ion-button (click)="ajouterPhoto('camera')" color="secondary" expand="block">
    <!-- <ion-icon name="camera" slot="start"></ion-icon> -->
    <ion-icon src="./assets/svg/camera.svg"></ion-icon>
    Prenez une photo
  </ion-button>
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input [(ngModel)]="client.nom" type="text" inputmode="text" (change)="ChoixPseudo()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pseudo</ion-label>
    <ion-input [(ngModel)]='client.pseudo' type="text" inputmode="text"></ion-input>
  </ion-item>

  <ion-title id='adresse'>Adresse du siège social</ion-title>
  <ion-item>
    <ion-item>
      <ion-label position="floating">Pays</ion-label>
      <ion-input [(ngModel)]='coordonnees.pays' type="text" inputmode="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Province</ion-label>
      <ion-input [(ngModel)]='coordonnees.province' type="text" inputmode="text"></ion-input>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label position="floating">Code postal</ion-label>
      <ion-input [(ngModel)]='coordonnees.codePostal' type="number" inputmode="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Localité</ion-label>
      <ion-input [(ngModel)]='coordonnees.localite' type="text" inputmode="text"></ion-input>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label position="floating">Rue</ion-label>
      <ion-input [(ngModel)]='coordonnees.rue' type="text" inputmode="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numéro</ion-label>
      <ion-input [(ngModel)]='coordonnees.numero' type="number" inputmode="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Boite</ion-label>
      <ion-input [(ngModel)]='coordonnees.boite' type="text" inputmode="text"></ion-input>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéro de TVA</ion-label>
    <ion-input [(ngModel)]='coordonnees.numeroTVA' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéo de téléphone</ion-label>
    <ion-input [(ngModel)]='coordonnees.numeroTelephone' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéo de GSM</ion-label>
    <ion-input [(ngModel)]='coordonnees.numeroGSM' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéo de fax</ion-label>
    <ion-input [(ngModel)]='coordonnees.numeroFax' type="text" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Adresse email</ion-label>
    <ion-input [(ngModel)]='coordonnees.email' type="email" inputmode="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Page web</ion-label>
    <ion-input [(ngModel)]='client.siteWeb'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Page LinkedIn</ion-label>
    <ion-input [(ngModel)]='coordonnees.linkedIn'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea [(ngModel)]='client.notes' type="text" inputmode="text"></ion-textarea>
  </ion-item>
  <ion-button (click)="ajoutClient(client)" expand="block" color="primary">
    <!-- <ion-icon name="checkmark"></ion-icon> -->
    <ion-icon src="./assets/svg/checkmark.svg"></ion-icon>
    Ajouter</ion-button>
</ion-content>