<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons id='retourProduits' slot="start">
      <ion-back-button defaultHref="/produits" text="Page Produits"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="disposition">
    <img [src]="produit.image" onerror="src='https://upload.wikimedia.org/wikipedia/commons/e/e6/Pas_d%27image_disponible.svg';" alt="Missing Image"/>
  </div>
  
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input [(ngModel)]="produit.nom" type="string" placeholder="produit.nom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Quantité</ion-label>
    <ion-input [(ngModel)]='produit.quantite' type="number" placeholder="produit.quantite"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Prix</ion-label>
    <ion-input [(ngModel)]='produit.prix' type="number" placeholder="produit.prix"></ion-input>
  </ion-item>
  
  <ion-button  shape="round" color="danger" size="small" (click)="RemoveRecord(produit)">
    <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
  </ion-button>
</ion-content>
