<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons id='retourProduits' slot="start" (click)="bouttonRetour()">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="disposition">
    <img [src]="produit.imageURL"
      onerror="src='https://upload.wikimedia.org/wikipedia/commons/e/e6/Pas_d%27image_disponible.svg';"
      alt="Missing Image" />
  </div>

  <form [formGroup]="form" novalidate>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-textarea formControlName="nomForm" type="text" inputmode="text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantite</ion-label>
      <ion-textarea formControlName="quantiteForm" type="text" inputmode="number"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prix</ion-label>
      <ion-textarea formControlName="prixForm" type="text" inputmode="number"></ion-textarea>
    </ion-item>
  </form>

  <!-- <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input [(ngModel)]="produit.nom" (change)="estChange=true" type="string"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantité</ion-label>
    <ion-input [(ngModel)]='produit.quantite' (change)="estChange=true" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prix</ion-label>
    <ion-input [(ngModel)]='produit.prix' (change)="estChange=true" type="number"></ion-input>
  </ion-item> -->
  <ion-button shape="round" color="danger" size="medium" (click)="RemoveProduit(produit)">
    <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
  </ion-button>
  <ion-button shape="round" color="success" size="medium" (click)="UpdateProduit(produit,'Êtes-vous sûr de vouloir modifier le produit?'
  )">
    <ion-icon src="\svg\save.svg" size="small" slot="icon-only"></ion-icon>
  </ion-button>
</ion-content>