<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons id='retourProduits' slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="disposition" (click)="versVueProduit(produit)">
    <img [src]="produit.imageURL" alt=""/>
  </div>
  <form [formGroup]="form" novalidate>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-textarea formControlName="nomForm" type="text" inputmode="text" (change)="estChange=true"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantite</ion-label>
      <ion-textarea formControlName="quantiteForm" type="text" inputmode="number" (change)="estChange=true">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prix</ion-label>
      <ion-textarea formControlName="prixForm" type="text" inputmode="number" (change)="estChange=true"></ion-textarea>
    </ion-item>
  </form>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger" (click)="RemoveProduit(produit)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="UpdateProduit(produit,'Êtes-vous sûr de vouloir modifier le produit?')">
      <ion-icon src="\svg\save.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>