<ion-header>
  <ion-toolbar>
    <ion-title id="titre">Liste des {{entreprise}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated placeholder="Recherche" (ionChange)="rechercheClient($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>


  
  <ion-list>
    <ion-item *ngFor="let client of clients" (click)="versVueClient(client)">
      <ion-label>{{client.nom}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
