<ion-header>
  <ion-toolbar color='primary'>
    <ion-button id='ajouter' routerLink="/ajouter-produit">
      <ion-icon name='add'></ion-icon>
    </ion-button>
    <ion-title id='titre'>Liste des produits</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item routerLink="/afficher-produit"  *ngFor="let produit of produits" (click)="afficherProduit(produit.nom)">
      <ion-thumbnail slot="start">
        <ion-img [src]="produit.image" (ionError)="imageDefaut($event)" ></ion-img>
      </ion-thumbnail>
      <ion-label>{{produit.nom}}</ion-label>
    </ion-item>
  </ion-list>


<!-- <ion-list lines="none">
  <ion-item href="" *ngFor=>
    <ion-thumbnail slot="start">
      <ion-img [src]=""></ion-img>
    </ion-thumbnail>
    <ion-label></ion-label>
  </ion-item>
</ion-list> -->



</ion-content>
