<ion-header>
  <ion-toolbar>
    <ion-title id="titre">Liste des commandes de {{pseudoClient}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <!-- <ion-icon slot="icon-only" name="close"></ion-icon> -->
        <ion-icon src="./assets/svg/close.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let commande of commandes" (click)="versVueCommande(commande)">
      <ion-label>{{commande.numeroCommande}}</ion-label>
      <ion-label slot="end">{{commande.dateCommande | date: 'dd MMMM yyyy'}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>