<ion-header>
  <ion-toolbar color='primary'>
    <ion-title id='titre'>Clients
    <ion-button class="deconnexion" name=boutton (click)="deconnexion()" expand="block" color="primary">
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated placeholder="Recherche" (ionChange)="rechercheClient($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab id='ajouter' routerLink="/ajouter-client" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item routerLink="/afficher-client" *ngFor="let client of clients" (click)="versVueClient(client)">
      <ion-thumbnail slot="start">
        <!--<img [src]="client.imageURL" alt="" />-->
        <img [src]="client.imageURL"
          onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Factory.svg/1174px-Factory.svg.png';">
        <!-- (ionError)="imageDefaut($event)" -->
      </ion-thumbnail>
      <ion-label>{{client.nom}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>