<ion-header>
  <ion-toolbar color='primary'>
    <ion-title id='titre'>Clients</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated placeholder="Recherche" (ionChange)="rechercheClient($event)" >
      
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab id='ajouter' routerLink="/ajouter-client" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item routerLink="/afficher-client" *ngFor="let client of clients" (click)="versVueClient(client)">
      <ion-thumbnail slot="start">
        <ion-img [src]="client.imageURL"></ion-img>
      </ion-thumbnail>
      <ion-label>{{client.nom}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
